<div class="contain">
  <div class="greet container-fluid">
    <div>
      <h2 *ngIf="newAccount">Create a new account</h2>
      <h2 *ngIf="!newAccount">Log into your account</h2>
      <hr [ngClass]="{'hr-sign-up': newAccount, 'hr-log-in': !newAccount}">
    </div>
  </div>
  <div class="content col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
    <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
      <div class="email-field">
        <label for="mail">E-mail</label>
        <input formControlName="email" type="text" name="mail" class="form-control mail-input">
      </div>
      <div class="password-field">
        <label for="password">Password</label>
        <div class="input-password">
          <input formControlName="password" name="password" [type]=" passwordCovered ? 'password' : 'text' " class="form-control">
          <a (click)="changePassType()">
            <fa-icon [icon]="eye"></fa-icon>
          </a>
        </div>
      </div>
      <div class="sumbit-cont">
        <button *ngIf="newAccount" [disabled]="!this.signUpForm.valid || loading" class="btn submit-btn btn-success" type="submit">
          <span *ngIf="!loading">Sign up!</span>
          <mat-spinner *ngIf="loading"></mat-spinner> 
        </button>
        <button *ngIf="!newAccount" [disabled]="!this.signUpForm.valid || loading" class="btn submit-btn btn-secondary" type="submit">
          <span *ngIf="!loading">Log in!</span>
          <mat-spinner *ngIf="loading"></mat-spinner>
        </button>
      </div>
    </form>
  </div>
</div>
