.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: aliceblue;
}

mat-spinner {
  width: 27px !important;
  height: 27px !important;
} 

.contain {
  width: 100%;
  height: calc(100vh - 180px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.greet {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

hr {
  margin-top: 20px ;
  padding-top: 1px;
}

.hr-sign-up {
  color: rgb(31, 147, 31);
  background-color: rgb(31, 147, 31);
}

.hr-log-in {
  color: rgb(99, 99, 99);
  background-color: rgb(99, 99, 99);
}

.content {
  display: flex;
  flex-direction: column;
}

.password-field {
  padding-top: 15px;
}

.input-password {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.input-password input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none !important;
}

.input-password a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: solid 1px #dee2e6;
  border-left: none !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0;
}

.input-password a:hover fa-icon {
  color: gray;
}

.mail-input {
  margin-top: 10px;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 40px;
  width: 100%;
}

.sumbit-cont {
  padding-top: 20px !important;
}

input {
  transition: 0 !important;
}

input:focus {
  box-shadow: none;
  border: solid 2px darkgray;
  transition: 0;
}

input:focus ~ a {
  border: solid 2px darkgray;
  transition: 0;
}