
.navbar {
  height: 60px;
  z-index: 7;
}

.manage-sign-ul, .manage-sign-ul div {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-right: 15px;
}

.manage-list-item {
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.manage-list-link {
  color: #5c5c5c;
  text-decoration: none;
}

.manage-list-item:hover .manage-list-link {
  color: #000; 
  transition: 0.1s;
}

.divide {
  width: 1px;
  height: 100%;
  background-color: #787878;
  margin-left: 5px;
  margin-right: 5px;
}

.left-nav {
  margin-left: 20px;
}

.navbar-header {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navbar-brand {
  margin-left: 10px;
  font-size: 1.4em;
}

.bars-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.bars fa-icon {
  color: #505050;
  font-size: 1.35em;
}

.bars fa-icon:hover {
  color: #000;
}

.open ul {
  width: 100vw !important;
  border-radius: 0;
  border: none;
  background-color: rgb(248, 249, 250);
  border-bottom: 3px solid rgb(186, 186, 186);
  border-top: 3px solid rgb(186, 186, 186);
  margin-left: -15px;
  margin-top: 132px;
}

.open ul li {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
}

.manage-group {
  position: relative;
}

.dropdown-menu {
  margin-top: 100px;
  z-index: 10 !important;
} 

.nav-item {
  transition: 0.2s;
  cursor: pointer;
}

.nav-link, .navbar-brand {
  transition: 0.2s;
}

.link-chosen{
  color: #000 !important;
  transition: 0.25s;
  letter-spacing: 2px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.link-sign-chosen a {
  color: #000 !important;
}


.manage-list-item {
  cursor: pointer;
}

.log-warning {
  z-index: 6;
  margin-top: 60px;
  opacity: 0;
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: rgb(255, 255, 149);
  transition: 0.15s;
}

.log-warning-appear {
  opacity: 1;
  transition: 0.15s;
}

.warning-content {
  height: 100%;
  display: flex;
  align-items: center;
}

.warning {
  text-align: center;
  color: darkred;
  z-index: 8;
}

@media(min-width: 767.2px) {
  .bars-cont {
    display: none;
  }

  .dropdown-menu {
    display: none;
  }
}

@media(max-width: 767.2px) {
  .open ul .link-chosen {
    background-color: rgb(218, 218, 218) !important;
  }
}