.shop-list-main {
  margin-bottom: 40px;
}

.shopping-list-edit {
  margin-top: 20px;
}

.ingredient {
  cursor: pointer;
}

.ingredient:hover {
  background-color: rgb(249, 248, 248);
}

.chosen {
  border: 2px solid lightgray;
}