
<div class="container-fluid">
  <div class="img-cont">
    <div class="col-xs-12">
      <img [src]="recipeDetails.imagePath" onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Noun_Project_vegetables_icon_1422990_cc.svg/640px-Noun_Project_vegetables_icon_1422990_cc.svg.png'" class="img-responsive">
    </div>
  </div>
  <div class="row title">
    <div class="col-xs-12">
      <h1>{{recipeDetails.name}}</h1>
    </div>
  </div>
  <div class="row info-text">
    <div class="col-xs-12">
      <ul class="ingredients-detail">
        <li *ngFor="let ingredient_2 of recipeDetails.ingredients">
          {{ ingredient_2.name }} - {{ ingredient_2.amount }}
        </li>
      </ul>
      <p>{{recipeDetails.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group manage-group" appDrop>
        <button type="button" class="btn btn-secondary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li (click)="onAddToShopList()"><a class="touchable" >To shopping list</a></li>
          <li [routerLink]="['/recipes', recipeDetails.name, 'edit']"><a class="touchable" >Edit recipe</a></li>
          <li (click)="onDeleteRecipe()"><a class="touchable">Delete recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
